<!-- Header -->
<header id="header" class="alt">
  <h1><a href="index.html">Spectral</a></h1>
  <nav id="nav">
    <ul>
      <li class="special">
        <span>Menu</span>
        <div id="menu">
          <ul>
            <li><a href="/welcome/homepage">Home</a></li>
            <li><a href="/welcome/generic">Photography</a></li>
            <li><a href="/welcome/elements">Elements</a></li>
            <li><a href="/chronology_test_answers/new">Chronology Test Grader</a></li>
            <li><a href="/sessions/new">Log In</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>
